<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of Heroes"
      [class.selected]="hero === SelectedHero"
      (click)="OnSelect(hero)">
    <span class="badge">{{hero.Id}}</span> {{hero.Name}}
  </li>
</ul>

<div *ngIf="SelectedHero">

  <h2>{{SelectedHero.Name | uppercase}} Details</h2>
  <div><span>Id: </span>{{SelectedHero.Name}}</div>
  <div>
    <label for="hero-name">Hero Name: </label>
    <input id="hero-name" [(ngModel)]="SelectedHero.Name" placeholder="Name">
  </div>

</div>

